@import "tailwindcss";

@theme {
    --font-baumans: var(--baumans);
}


html {
    cursor: url("/cursor/pointer.cur"), auto;
}

a,
button,
[role="button"],
label,
select,
summary {
    cursor: url("/cursor/link.cur"), pointer;
}

input,
textarea {
    cursor: url("/cursor/Ibeam.cur"), text;
}
